button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: none;
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 0;
	background: $color__background-button;
	font-size: 0.9375em;
	line-height: 1;
	letter-spacing: .0625em;
	text-transform: uppercase;
	padding: .6em 2.2em;
	text-decoration: none;
	transition: border-color 0.1875s, background 0.1875s, color 0.1875s;
	color: #fff;
	font-family: $font__open-bold;

	&:hover,
	&:active,
	&:focus {
		background: $color__background-button-hover;
		border-color: $color__background-button-hover;
		color: #FFF;
	}

	&:hover {
		cursor: pointer;
	}
}
