// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## Front Page Custom Content
--------------------------------------------------------------*/
@import "page-templates/front-page";

// #content {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	z-index: 20;
// }

// Figure out carousel behind the masthead

#page {
	background-color: #fff;
}

#content {
	max-width: 950px;
	margin-left: auto;
	margin-right: auto;
	@include padding-left-right;
}