// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## Front Page Custom Content
--------------------------------------------------------------*/
@import "page-templates//front-page/front-page";

/*--------------------------------------------------------------
## About Page Custom Content
--------------------------------------------------------------*/
@import "page-templates/about-page";

/*--------------------------------------------------------------
## Property Page (Single) Custom Content
--------------------------------------------------------------*/
@import "page-templates/property-single-page";

// #content {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	z-index: 20;
// }

// Figure out carousel behind the masthead

#page {

}

.wrapper {
	max-width: $max_content_width;
	margin-left: auto;
	margin-right: auto;
}

#content {
	background-color: $color__background-body-alt;
	@include padding-top-bottom;
	@include padding-left-right;
}

.content-wrapper {
	max-width: $max_content_width;
	margin-left: auto;
	margin-right: auto;
	@include padding-left-right;
	background-color: #fff;

	@include respond-to('large') {
		max-width: $max_content_width-lg;
	}
}

article.hentry {
	margin-bottom: 0;
}