h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}

h1 {
	font-family: $font__raleway-regular;
}

h1.entry-title {
	position: relative;
	text-transform: capitalize;
	margin-top: 0;
	font-size: 2.706rem;
	line-height: 1;
	padding-top: 1.5rem;

	&:after {
		content: '';
		display: block;
		margin-top: 0.8235rem;
		width: 115px;
		text-align: center;
		height: 2px;
		background: $color__brand-2;
	}

	@include respond-to('small') {
		&:after {
			width: 130px;
		}
	}
}