.home {

	.carousel-wrapper {
		height: 55vh;
		min-height: 17.5rem;
		position: relative;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		@include padding-left-right;

		// @include respond-to-vert('small') {
		// 	height: 55vh;
		// }

		.home-carousel {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;

			&:after {
				content: '';
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0em;
				width: 100vw;
				background: rgba(0,0,0,0.4);
			}

			img {
				display: block;
				object-fit: cover;
				font-family: 'object-fit: cover';
				width: 100%;
				height: 100%;
				position: absolute;
			}

			.flickity-page-dots {
				display: none;
			}
		}

		.carousel-text {
			position: relative;
			z-index: 3;
			margin-top: 2rem;
			@include padding-left-right;
			line-height: 1.25;
			text-align: center;
			line-height: 1.125;
			color: #FFF;
			text-shadow: 0 0 10px rgba(0, 0, 0, 1);
			font-family: $font__raleway-regular;
			// padding: 0.75rem;
			// margin: -1.5rem 0 0 0;
			// width: 85%;
			// max-width: 14em;
			// font-size: 2.5em;
			// font-weight: bold;

			// @include respond-to('medium') {
			// 	font-size: 3.5rem;
			// }

			p {
				margin: 0;
			}

			// p:last-of-type {
			// 	margin-bottom: 0;
			// }

			.carousel-small-text {
				text-transform: uppercase;
				font-size: 1.5976rem;
			}

			.carousel-large-text {
				position: relative;
				text-transform: capitalize;
				font-size: 5.0576rem;
				line-height: 1;

				&:after {
					content: '';
					display: block;
					bottom: -0.3125em;
					width: 50%;
					margin-left:auto;
					margin-right:auto;
					height: 2px;
					background: $color__brand-2;
					// position: absolute;
					// left: 50%;
				}
			}
		}
	}

	#content {
		background-color: #fff;
	}

	.content-wrapper {
		padding: 0;
	}

	article {
		h2:first-of-type {
			position: relative;
			text-transform: capitalize;
			margin-top: 0;
			font-size: 2.706rem;
			line-height: 1;
			padding-top: 1.5rem;

			&:after {
				content: '';
				display: block;
				margin-top: 0.8235rem;
				width: 50%;
				margin-left:auto;
				margin-right:auto;
				height: 2px;
				background: $color__brand-2;
				// position: absolute;
				// left: 50%;
			}

			@include respond-to('small') {
				&:after {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					bottom: -0.3125em;
					width: 3.25em;
					height: 2px;
					background: $color__brand-2;
				}
			}
		}
	}

	.statistics-content {
		max-width: 200px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2.94rem;

		@include respond-to('medium') {
			display: flex;
			justify-content: space-around;
			font-size: .9em;

		}

		.statistics-container {
			display: flex;
			// justify-content: center;
			margin-bottom: 2rem;

			// @include test(green)
		}


		.icon-wrapper {
			flex: 0 1 auto;
			text-align: left;
			// align-self: flex-start;
			// margin: 0 auto;
			// @include test(red)
		}

		.description-wrapper {
			flex: 0 1 auto;
			text-align: left;
			// margin: 0 auto;
			// @include test(red)

			.number, .description {
				display: block;
				margin-left: 1rem;
			}

			.number {
				font-family: $font__raleway-semi-bold;
				font-size: 2rem;
				line-height: .75;
			}

			.description {
				text-transform: uppercase;
				font-size: 0.8235rem;
				margin-top: 0.5882rem;
			}
		}
	}

	.flex-highlight {
		position: relative;
		padding-top: 3.529rem;
		padding-bottom: 3.529rem;
		@include padding-left-right;

		&:after {
			content: '';
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0em;
			width: 100vw;
			opacity: .6;
			background: $color__brand-2;
		}

		.background-img {
			display: block;
			object-fit: cover;
			font-family: 'object-fit: cover';
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
		}

		a {
			display: block;
			position: relative;
			z-index: 1;
			padding: 2rem;
			color: #000;
			font-size: 1.75em;
			line-height: 1.125;
			text-decoration: none;
			text-align: center;
			background-color: #fff;
			margin: 0 0 2rem;

			// background: rgba(255,255,255,.25);
			// -webkit-transition: color .25s,background .25s;
			// transition: color .25s,background .25s;

			&:last-child {
				margin: 0;
			}
		}

		.icon-wrapper {
			position: relative;
			text-align: center;

			&:before {
				content: '';
				background: $color__icon-background;
				height: 75px;
				width: 75px;
				display: block;
				transform: rotate(45deg);
				margin-left:auto;
				margin-right:auto;

			}
		}

		.icon-img {
			position: absolute;
			top: 14px;
			left: 40%;
			width: 45px;

		}

		.highlight-title-wrapper {
			margin-top: 2rem;;
		}

		.highlight-title {
			font-size: 1.764rem;
			display: block;
			position: relative;
			text-transform: capitalize;
		}

		.highlight-btn {
			position: relative;
			font-size: 0.8235rem;
			text-decoration: underline;
			display: block;
			margin-top: 1rem;

			&:after {
				content: '';
				position: absolute;
				margin-left: 7px;
				width: 0;
				height: 0;
				border-top: 8px solid transparent;
				border-left: 8px solid $color__brand-2;
				border-bottom: 8px solid transparent;
			}
		}
	}


}