$breakpoints: ('x-small': 36em,
'small': 46.875em,
'medium': 59.375em,
'large': 75em,
'x-large': 90em,
'xx-large': 125em);

$breakpoints_vert: ('small': 48em,
'medium': 60em);

$outer_spacing: ('small': 1.5,
'medium': 2.5);

$max_content_width: 56em; // 952px
$max_content_width-lg: 67.647em; // 1150px