$breakpoints: (
'x-small': 33.824em, // 575px
'small': 44.118em, // 750px
'medium': 55.882em, // 950px
'large': 67.647em,  // 1150px
'x-large': 79.412em,  // 1350
'xx-large': 102.941em  // 1750px
);

$breakpoints_vert: ('small': 48em,
'medium': 60em);

$outer_spacing: ('small': 1.5,
'medium': 2.5);

$max_content_width: 55.882em; // 950px
$max_content_width-lg: 67.647em; // 1150px