.home {

	/*--------------------------------------------------------------
	## Front Page Carousel Section
	--------------------------------------------------------------*/

	@import 'carousel';

	/*--------------------------------------------------------------
	## Front Page Content Styles
	--------------------------------------------------------------*/

	#content {
		background-color: #fff;
		padding-top: 5rem;
	}

	.content-wrapper {
		padding: 0;
		text-align: center;
	}

	article {
		h1.entry-title {

			&:after {
				margin-left:auto;
				margin-right:auto;
			}
		}
		h2:first-of-type {
			position: relative;
			text-transform: capitalize;
			margin-top: 4rem;

			font-size: 2.706rem;
			line-height: 1;
			padding-top: 1.5rem;

			&:after {
				content: '';
				display: block;
				margin-top: 0.8235rem;
				width: 115px;
				margin-left:auto;
				margin-right:auto;
				height: 2px;
				background: $color__brand-2;
			}

			@include respond-to('small') {
				&:after {
					width: 130px;
				}
			}
		}
	}

	/*--------------------------------------------------------------
	## Front Page Statistics Section
	--------------------------------------------------------------*/

	@import 'statistics';

	/*--------------------------------------------------------------
	## Front Page Highlights Section
	--------------------------------------------------------------*/

	@import 'highlights';

	/*--------------------------------------------------------------
	## Front Page Callout Section
	--------------------------------------------------------------*/

	@import 'callout';

	/*--------------------------------------------------------------
	## Front Page Testimonial Section
	--------------------------------------------------------------*/

	@import 'testimonial';


}