.flex-highlight {
	position: relative;
	padding-top: 3.529rem;
	padding-bottom: 3.529rem;
	@include padding-left-right;

	&:after {
		content: '';
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0em;
		width: 100vw;
		opacity: .6;
		background: $color__brand-2;
	}

	.background-img {
		display: block;
		object-fit: cover;
		font-family: 'object-fit: cover';
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
	}

	.flexible-highlight-inner {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;

		@include respond-to('medium') {
			display: flex;
			max-width: $max_content_width;
		}
	}

	a {
		display: block;
		position: relative;
		z-index: 1;
		padding: 2rem 2rem 1.5rem;
		color: #000;
		font-size: 1.75em;
		line-height: 1.125;
		text-decoration: none;
		text-align: center;
		background-color: #fff;
		margin: 0 0 2rem;
		width: 100%;
		overflow: hidden;

		@include respond-to('medium') {
			margin-bottom: 0;
			margin-right: 2rem;

		}

		&:after {
			content: '';
			display: block;
			padding-bottom: 80%;
		}

		&:last-child {
			margin: 0;
		}

		.inner-wrapper {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.icon-wrapper {
		position: relative;
		text-align: center;

		&:before {
			content: '';
			background: $color__icon-background;
			height: 65px;
			width: 65px;
			display: block;
			transform: rotate(45deg);
			margin-left:auto;
			margin-right:auto;

		}
	}

	.icon-img {
		display: block;
		position: relative;
		width: 40px;
		margin-top: -3.4rem;
		margin-left:auto;
		margin-right:auto;

	}

	.highlight-title-wrapper {
		margin-top: 3rem;
	}

	.highlight-title {
		font-size: 1.764rem;
		display: block;
		position: relative;
		text-transform: capitalize;
	}

	.highlight-btn {
		position: relative;
		font-size: 0.8235rem;
		text-decoration: underline;
		text-decoration-color: #c4c4c4;
		display: block;
		margin-top: 1rem;

		&:after {
			content: '';
			position: absolute;
			margin-left: 7px;
			width: 0;
			height: 0;
			border-top: 8px solid transparent;
			border-left: 8px solid $color__brand-2;
			border-bottom: 8px solid transparent;
		}
	}
}