.home-testimonial {
	background-color: $color__background-body-alt-2;
	position: relative;
	z-index: 5;
	width: 100%;
	height: 100%;
	@include padding-top-bottom;
	@include padding-left-right;
	text-align: center;

	h2 {
		position: relative;
		text-transform: capitalize;
		margin-top: 0;
		font-size: 2.706rem;
		line-height: 1;
		padding-top: 1.5rem;

		&:after {
			content: '';
			display: block;
			margin-top: 0.8235rem;
			width: 115px;
			margin-left:auto;
			margin-right:auto;
			height: 2px;
			background: $color__brand-2;
		}

		@include respond-to('small') {
			&:after {
				width: 130px;
			}
		}
	}

	.home-testimonial-wrapper {
		position: relative;
		max-width: $max_content_width;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		z-index: 10;
		padding-left: 1.2em;
		padding-right: 1.2em;
		padding-top: 2rem;
		padding-bottom: 2rem;
		background-color: #fff;
		// @include padding-left-right;

		a {
			display: block;
		}
	}

	.testimonial-carousel {
		color: #000;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 1rem;
		height: 100%;

		.cell {
			width: 100%;
			height: auto;
			margin-left: 20px;

			span {
				display: block;
			}
		}

		.flickity-page-dots {
			//display: none;
			bottom: 0;
			width: 90%;
			// left: 20%;

			li {
				width: 10px;
				height: 10px;
				border-radius: 50%;
				border: 1px solid $color__brand-2;
				opacity: 1;
				background: #FFF;
				transition: opacity 0.25s;

				&:hover {
					opacity: 0.5;
				}

				&.is-selected {
					background: $color__brand-2;

					&:hover {
						opacity: 1;
						cursor: text;
					}
				}
			}

			@include respond-to-vert('small') {
				display: block;
			}
		}
	}

	.name-wrapper {
		position: relative;
		line-height: 1.4;

		&:before {
			content: '';
			background-image: url(imgs/quote-marks.svg);
			background-repeat: no-repeat;
			background-size: contain;
			width: 35px;
			height:25px;
			position: absolute;
			top: 5px;
			left: 0;
			z-index: 9999;
		}
	}

	.name {
		font-family: $font__open-bold;
		margin-left: 3rem;
		text-transform: uppercase;
	}

	.company {
		font-family: $font__open-regular;
		margin-left: 3rem;
		text-transform: uppercase;
	}

	.testimonial-content-wrapper {
		font-family: $font__open-italic;
	}

	.btn-alt {
		margin-top: 2rem;
	}
}
