a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

a[href^=tel],
a[href^=fax] {
	text-decoration: none !important;

	&:hover {
		cursor: text;
	}
}

.btn {
	@extend button;
	display: inline-block;
}

.btn-alt {
	@extend .btn;
	background-color: $color__background-button-alt;
	border-color: $color__background-button-alt;
}

.more-link {
	display: table;
	margin-top: 0.5rem;
}
