.main-navigation {
	display: none;
	clear: both;
	// display: block;
	// float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		@include respond-to('large') {
			display: block;
		}

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		@include padding-left-right;
		padding-top: 0.75em;
		padding-bottom: 0.75em;
		padding-right: 2.75rem;
		font-size: 0.875em;
		font-weight: 500;
		text-transform: uppercase;
		text-decoration: none;
		color: #FFF;
		transition: color 0.125s;

		&:hover, &:focus {
			color: $color__link-hover;
			outline: 0;
		}

		@include respond-to('large') {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
	}

	.current_page_item > a,
	.current-menu-item > a {
		color: $color__link;

		&:hover {
			cursor: text;
		}
	}
}

/* Toggle Btn */
.menu-toggle {
	position: relative;
	padding: 0;
	margin-left: 1rem;
	width: 2rem;
	height: 0.875rem;

	@include respond-to('large') {
		display: none;
	}

	&, &:hover, &:focus {
		background: none;
	}

	&:hover {
		border-color: #000;
	}

	&:focus {
		border-color: $color__link-hover;
	}

	&:after, &:before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 3px;
		background: #FFF;
		transition: transform 0.25s, height 0.25s, border-color 0.25s;
	}

	&:after {
		bottom: 0;
		top: auto;
	}

	&.active {
		height: 2rem;
		&:after {
			transform: rotate(45deg);
			top: 45%;
		}

		&:before {
			top: 45%;
			transform: rotate(-45deg);
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
